*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    background-color: rgb(33, 43, 52) !important;
    flex-direction: column;
}
table{
    width: 70%;
    text-align: center;

}
td{
    border: solid rgb(129, 158, 198)!important;
}
.Sunday{
    background-color: rgb(81, 14, 14);
}
.firstHead{
    border: solid rgb(129, 158, 198);
}
#navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: rgb(243, 255, 253);
}
a{
    border-radius: 5px;
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}